<div class="grid-container">
  @for (card of cards; track card.id) {
  <div
    class="card {{ card.type }} {{ card.columnSpanClass }}"
    [class.has-link]="!!card.routerLink"
    (click)="card.routerLink && navigateTo(card.routerLink)"
  >
    @if (card.customHeader) {
    <header>
      @if (card.icon) { <i class="{{ card.icon }} icon-header"></i> }
      {{ card.customHeader }}
    </header>
    } @else if (card.title) {
    <header>
      @if (card.icon) { <i class="{{ card.icon }} icon-header"></i> }
      {{ card.title }}
    </header>
    } @if (card.content) {
    <div class="card-content">
      <p>{{ card.content }}</p>
    </div>
    } @if (card.routerLink && !card.embedComponent) {
    <a [routerLink]="card.routerLink" class="card-action-link">Ver mais</a>
    }
  </div>
  }
</div>
