<div class="grid-container">
  @for (card of cards; track card.id) {

  <div
    class="card {{ card.type }} {{ card.columnSpanClass }}"
    [class.clickable]="card.routerLink || card.action"
    (click)="handleCardClick(card)"
  >
    @if (card.customHeader) {
    <header>
      @if (card.icon) { <i class="{{ card.icon }} icon-header"></i> }
      {{ card.customHeader }}
    </header>
    } @else if (card.title) {
    <header>
      @if (card.icon) { <i class="{{ card.icon }} icon-header"></i> }
      <h4>{{ card.title }}</h4>
    </header>
    }

    <div class="card-content">
      @if (card.content) {
      <p>{{ card.content }}</p>
      } @if (card.component) {
      <ng-container [appDynamicContent]="card.component"></ng-container>
      }
    </div>
  </div>
  }
</div>

<ng-template #pdfContainer></ng-template>
