@use "../../../../shared/styles/variables" as vars;

.section {
  margin-bottom: 2.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: 1.5rem;
  color: vars.$primary-blue;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid vars.$border-color-light;
}

.app-table {
  strong {
    font-weight: 500;
  }
}

.empty-state {
  text-align: center;
  padding: 2rem;
  color: vars.$secondary-text;
}
