@use "../../shared/styles/variables" as vars;

.not-found-container {
  max-width: 600px;
  margin: 5rem auto;
  text-align: center;
  padding: 3rem;

  h2 {
    color: vars.$primary-blue;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: vars.$secondary-text;
  }
}
