<div class="content">
  <div class="icons">
    <div class="icon download" (click)="downloadImage(galeria.images[selectedIndex].path)"
      [style.backgroundImage]="'url(download.png)'"></div>
    <div class="icon close" (click)="returnPage()"
      [style.backgroundImage]="'url(close.png)'"></div>
  </div>


  <div class="image-container">
    <img class="image" src="{{galeria.images[selectedIndex].path}}" />
  </div>

  <div class="cards">
    @for (image of galeria.images; track $index) {
      <img
        class="card-image"
        [src]="image.path"
        [class.selected]="$index === selectedIndex"
        (click)="selectImage($index)"
        alt="Imagem {{$index}}" />
    }
  </div>

</div>
