.whatsapp {
  position: fixed;
  bottom: 90px;
  right: 30px;
  background-color: #25D366;
  border-radius: 50px;
  width: 140px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
  font-size: 12px;
  gap: 6px;
  color: #000;
  i {
    color: #FFFFFF;
    font-size: 24px;
  }
  transition: color 0.5s 0.3s, width 0.5s;

}
.formulario-style {
  width: 44px;
  color: transparent;
}
