<div class="app-layout">
  <nav class="main-nav">
    <a routerLink="/nossa-historia" routerLinkActive="ativo">
      <i class="fas fa-home"></i>
      <span>Nossa História</span>
    </a>
    <a routerLink="/galeria" routerLinkActive="ativo">
      <i class="fas fa-campground"></i>
      <span>Galeria</span>
    </a>
    <a routerLink="/agenda" routerLinkActive="ativo">
      <i class="fas fa-users"></i>
      <span>Agenda</span>
    </a>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
