<div class="container">
  <header>
    <img src="arrow_left.png" (click)="goBack()" alt="Voltar" class="back-button" />
    <h3>Ficha de Inscrição</h3>
    <h3>Acampamento Senior 2026</h3>
  </header>
  <div class="content">
    <h5 class="title">Informações Pessoais</h5>
    <p class="alert">
      <strong>VALOR DA INSCRIÇÃO</strong> É DE <strong>R$180.00</strong>,
      <strong>INCLUSO</strong> TODAS AS <strong>REFEIÇÕES</strong> E
      <strong>MATERIAIS</strong> UTILIZADOS,
      <strong>PAGAMENTO</strong> NO FINAL DA INSCRIÇÃO!
    </p>
  </div>
</div>

