<div class="container">
  <div class="scroll">
    <header>
      <img src="arrow_left.png" (click)="goBack()" alt="Voltar" class="back-button" />
      <h3>Ficha de Inscrição</h3>
      <h3>Acampamento Senior 2026</h3>
    </header>
    <div class="content">
      <h5 class="title">Informações Pessoais</h5>
      <p class="alert">
        <strong>VALOR DA INSCRIÇÃO</strong> É DE <strong>R$180.00</strong>,
        <strong>INCLUSO</strong> TODAS AS <strong>REFEIÇÕES</strong> E
        <strong>MATERIAIS</strong> UTILIZADOS,
        <strong>PAGAMENTO</strong> NO FINAL DA INSCRIÇÃO!
      </p>
      <form >
        <div class="form-group">
          <label for="nome">Nome Completo:</label>
          <input name="nome" type="text" formControlName="nome">
        </div>
        <div class="form-group">
          <label for="telefone">Número de Telefone:</label>
          <input name="telefone" type="text" formControlName="telefone">
        </div>
        <div class="form-group">
          <label>Sexo:</label>
          <div class="flex">
            <label for="sexo">
              <input value="masculino" name="sexo" type="radio" formControlName="sexo"> Masculino
            </label>
            <label for="sexo">
              <input value="feminino" name="sexo" type="radio" formControlName="sexo"> Feminino
            </label>
          </div>
        </div>
        <div class="form-group half">
          <label for="dataNascimento">Data de Nascimento:</label>
          <input name="dataNascimento" type="text" formControlName="dataNascimento">
        </div>
        <div class="form-group half">
          <label for="idade">Idade:</label>
          <input name="idade" type="text" formControlName="idade">
        </div>
        <div class="form-group half">
          <label for="peso">Peso:</label>
          <input name="peso" type="text" formControlName="peso">
        </div>
        <div class="form-group half">
          <label for="altura">Altura:</label>
          <input name="altura" type="text" formControlName="altura">
        </div>
        <div class="form-group">
          <label for="enderecoParticular">Endereço Particular:</label>
          <input name="enderecoParticular" type="text" formControlName="enderecoParticular">
        </div>
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input name="cidade" type="text" formControlName="cidade">
        </div>
        <div class="form-group">
          <label for="pontoDeReferencia">Ponto De Referência:</label>
          <input name="pontoDeReferencia" type="text" formControlName="pontoDeReferencia">
        </div>
      </form>
      <button>Proximos passos</button>
    </div>
  </div>

</div>

