/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  &::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background-color: #BDBDBD;
  }
}

h1 {
  font-size: 28px;
  font-weight: bolder;
  line-height: 36px;
}
h2 {
  font-size: 26px;
  font-weight: bolder;
  line-height: 34px;
}
h3 {
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px;
}
h4 {
  font-size: 22px;
  font-weight: bolder;
  line-height: 30px;
}
h5 {
  font-size: 20px;
  font-weight: bolder;
  line-height: 28px;
}
h6 {
  font-size: 18px;
  font-weight: bolder;
  line-height: 26px;
}
p {
  font-size: 16px;
}
.container {
  height: 100%;
  overflow-x: auto;
}
