<div class="report-card-content">
  <p>Selecione um acampamento para gerar o relatório de doações recebidas.</p>

  <div class="report-controls">
    <ng-select
      [(ngModel)]="idAcampamentoSelecionado"
      [items]="acampamentos"
      bindLabel="nomeAcampamento"
      bindValue="idAcampamento"
      placeholder="Selecione um acampamento..."
    >
    </ng-select>

    <button
      class="btn btn-secondary"
      (click)="exportarRelatorioDoacoes()"
      [disabled]="!idAcampamentoSelecionado || isGeneratingReport"
    >
      @if(isGeneratingReport){ Gerando... } @else { Gerar Relatório }
    </button>
  </div>
</div>

<ng-template #pdfContainer></ng-template>
